{% extends 'base.html.twig' %}

{% block body %}
    {# on boucle sur les catégories || tableau associatif : libelleCategory : clé et allFilm : tableau de films associés a la categorie (c'est pour ca qu'il y a un length :D) #}
    {% for libelleCategory, allFilm in allFilmsCategory %}
        <div class="wrapper">
            <h2 class="title">
                <strong>{{libelleCategory}}<span>( {{ allFilm|length }} )</span></strong>
            </h2>
            <div class="news">
             {% for unFilm in allFilm %}
                <figure class="article">
                    <img src="{{asset('/images/'~ unFilm.image ~'')}}">
                    <figcaption>
                        <a href="{{ path('film', {'id': unFilm.id}) }}" class="news-card__card-link"></a>
                        <h2>{{unFilm.titre}}</h2>
                        <h3>Date de sortie : {{unFilm.dateSortie|date("d/m/Y")}}</h3>
                        <h3>Durée : {{unFilm.duree|date("H\\hi")}}</h3>
                        <p>{{unFilm.resume}}</p>    
                    </figcaption>
                </figure> 
            {% endfor %} 
            </div>
        </div>
    {% endfor %}
{% endblock %}